* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 100vw;
}

body {
    background-image: url('/static/images/blueButterfly.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.header {
    height: 7.5rem;
    background: #000053;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

form {
    margin-left: 5rem;
    display: flex;
}