* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('/static/images/lantern.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.header {
    height: 3rem;
    background: #092215;
    font-family: 'Source Serif Pro', serif;
    margin-bottom: 1.5rem;
}

.header h1 {
    color: #fbfbfb;
}